In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("DS_kaggle_edited_v2/Bangkok/Test/3H_temperature_Bangkok.csv")
df.head()

              datetime  Temp(C)     lat      long
0  2019-03-18 01:00:00     29.2  13.754  100.5014
1  2019-03-18 04:00:00     28.7  13.754  100.5014
2  2019-03-18 07:00:00     29.3  13.754  100.5014
3  2019-03-18 10:00:00     33.4  13.754  100.5014
4  2019-03-18 13:00:00     34.5  13.754  100.5014

In [12]:
pm = pd.read_csv(
    "DS_kaggle_edited_v2/Bangkok/Train/Bangkok.txt",
    comment="%",
    sep="\t",
    header=None,
    names=["year", "month", "day", "hour", "pm25", "pm10_mask", "retrospective"]
)
pm.head()

   year  month  day  hour  pm25  pm10_mask  retrospective
0  2016      3    3     8  62.9        1.0              0
1  2016      3    3     9  62.9        1.0              0
2  2016      3    3    10  55.5        1.0              0
3  2016      3    3    11  55.5        1.0              0
4  2016      3    3    12  47.9        1.0              0

In [13]:
pm["datetime"] = pd.to_datetime(pm[["year","month","day","hour"]])
pm = pm.sort_values("datetime")
pm.head()

   year  month  day  hour  pm25  pm10_mask  retrospective            datetime
0  2016      3    3     8  62.9        1.0              0 2016-03-03 08:00:00
1  2016      3    3     9  62.9        1.0              0 2016-03-03 09:00:00
2  2016      3    3    10  55.5        1.0              0 2016-03-03 10:00:00
3  2016      3    3    11  55.5        1.0              0 2016-03-03 11:00:00
4  2016      3    3    12  47.9        1.0              0 2016-03-03 12:00:00

In [ ]:
temp = pd.read_csv(
    "DS_kaggle_edited_v2/Bangkok/Train/3H_temperature_Bangkok.csv"
)
wind = pd.read_csv(
    "DS_kaggle_edited_v2/Bangkok/Train/3H_wind_Bangkok.csv"
)

temp.head()

              datetime  Temp(C)     lat      long
0  2016-03-03 01:00:00     25.5  13.754  100.5014
1  2016-03-03 04:00:00     25.0  13.754  100.5014
2  2016-03-03 07:00:00     26.4  13.754  100.5014
3  2016-03-03 10:00:00     31.4  13.754  100.5014
4  2016-03-03 13:00:00     34.1  13.754  100.5014

In [24]:
temp["datetime"] = pd.to_datetime(temp["datetime"])
wind["datetime"] = pd.to_datetime(wind["datetime"])

df = pm.merge(temp[["datetime","Temp(C)"]], on="datetime", how="left")
df = df.merge(wind[["datetime","Wind(m/s)"]], on="datetime", how="left")

df.head()

KeyError: "['Wind(m/s)'] not in index"