In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:

file_path = "../DS_kaggle_edited_v2/PM2.5(2016).csv"
df = pd.read_csv(file_path)

print(df.head())

       Date  05T   59T  61T   52T   54T   08T   24T   26T   27T   30T    32T  \
0  1/1/2016  NaN  17.0  28.0   NaN   NaN   NaN   NaN  37.0  30.0  21.0  15.0
1  1/2/2016  NaN  22.0   NaN   NaN  33.0   NaN   NaN  45.0  44.0  28.0  19.0
2  1/3/2016  NaN  28.0   NaN   NaN  50.0   NaN   NaN  64.0  56.0  47.0  31.0
3  1/4/2016  NaN  42.0   NaN   NaN  69.0   NaN   NaN  77.0  84.0  68.0  55.0
4  1/5/2016  NaN  35.0  57.0   NaN  58.0   NaN   NaN  56.0  56.0  65.0  48.0

   35T  36T    40T   46T  44T    75T  76T  77T
0  NaN  25.0   NaN  18.0   NaN   8.0  NaN   NaN
1  NaN  25.0  13.0  24.0   NaN   8.0  NaN   NaN
2  NaN  27.0  20.0  40.0   NaN  11.0  NaN   NaN
3  NaN  26.0  27.0  53.0   NaN  15.0  NaN   NaN
4  NaN  27.0  29.0  59.0   NaN  16.0  NaN   NaN

In [3]:
pm = pd.read_csv(
    "../DS_kaggle_edited_v2/Bangkok/Train/Bangkok.txt",
    comment="%",
    sep="\t",
    header=None,
    names=["year", "month", "day", "hour", "pm25", "pm10_mask", "retrospective"]
)
pm.head()

   year  month  day  hour  pm25  pm10_mask  retrospective
0  2016      3    3     8  62.9        1.0              0
1  2016      3    3     9  62.9        1.0              0
2  2016      3    3    10  55.5        1.0              0
3  2016      3    3    11  55.5        1.0              0
4  2016      3    3    12  47.9        1.0              0

In [4]:
pm["datetime"] = pd.to_datetime(pm[["year","month","day","hour"]])
pm = pm.sort_values("datetime")
pm.head()

   year  month  day  hour  pm25  pm10_mask  retrospective            datetime
0  2016      3    3     8  62.9        1.0              0 2016-03-03 08:00:00
1  2016      3    3     9  62.9        1.0              0 2016-03-03 09:00:00
2  2016      3    3    10  55.5        1.0              0 2016-03-03 10:00:00
3  2016      3    3    11  55.5        1.0              0 2016-03-03 11:00:00
4  2016      3    3    12  47.9        1.0              0 2016-03-03 12:00:00

In [5]:
temp = pd.read_csv(
    "../DS_kaggle_edited_v2/Bangkok/Train/3H_temperature_Bangkok.csv"
)
wind = pd.read_csv(
    "../DS_kaggle_edited_v2/Bangkok/Train/3H_wind_Bangkok.csv"
)

temp.head()

              datetime  Temp(C)     lat      long
0  2016-03-03 01:00:00     25.5  13.754  100.5014
1  2016-03-03 04:00:00     25.0  13.754  100.5014
2  2016-03-03 07:00:00     26.4  13.754  100.5014
3  2016-03-03 10:00:00     31.4  13.754  100.5014
4  2016-03-03 13:00:00     34.1  13.754  100.5014

In [6]:
temp["datetime"] = pd.to_datetime(temp["datetime"])
wind["datetime"] = pd.to_datetime(wind["datetime"])

pm["datetime"] = pd.to_datetime(pm[["year","month","day","hour"]])
pm["datetime"] = pm["datetime"] + pd.Timedelta(hours=7)

df = pm.merge(temp[["datetime","Temp(C)"]], on="datetime", how="left")
df = df.merge(wind[["datetime","Wind Speed(km/h)"]], on="datetime", how="left")

df.head()

,year,month,day,hour,pm25,pm10_mask,retrospective,datetime,Temp(C),Wind Speed(km/h)
0,2016,3,3,8,62.9,1.0,0,2016-03-03 15:00:00,NaN,NaN
1,2016,3,3,9,62.9,1.0,0,2016-03-03 16:00:00,34.6,12.0
2,2016,3,3,10,55.5,1.0,0,2016-03-03 17:00:00,NaN,NaN
3,2016,3,3,11,55.5,1.0,0,2016-03-03 18:00:00,NaN,NaN
4,2016,3,3,12,47.9,1.0,0,2016-03-03 19:00:00,29.1,11.0

In [7]:
df.info()
df.isna().sum()

<class 'pandas.DataFrame'>
RangeIndex: 24393 entries, 0 to 24392
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   year              24393 non-null  int64
 1   month             24393 non-null  int64
 2   day               24393 non-null  int64
 3   hour              24393 non-null  int64
 4   pm25              24393 non-null  float64
 5   pm10_mask         24393 non-null  float64
 6   retrospective     24393 non-null  int64
 7   datetime          24393 non-null  datetime64[us]
 8   Temp(C)           8112 non-null   float64
 9   Wind Speed(km/h)  8112 non-null   float64
dtypes: datetime64[us](1), float64(4), int64(5)
memory usage: 1.9 MB

year                    0
month                   0
day                     0
hour                    0
pm25                    0
pm10_mask               0
retrospective           0
datetime                0
Temp(C)             16281
Wind Speed(km/h)    16281
dtype: int64

In [8]:
# Use the merged Bangkok data from cells 3-6
# df already contains: year, month, day, hour, pm25, Temp(C), Wind Speed(km/h)
print("Using merged Bangkok data")
print(f"Shape: {df.shape}")
print(f"Columns: {df.columns.tolist()[0:15]}")

Using merged Bangkok data
Shape: (24393, 10)
Columns: ['year', 'month', 'day', 'hour', 'pm25', 'pm10_mask', 'retrospective', 'datetime', 'Temp(C)', 'Wind Speed(km/h)']

In [9]:
# Remove rows with missing values in key columns
df_clean = df[["hour", "Temp(C)", "Wind Speed(km/h)", "pm25"]].dropna()
print(f"Cleaned data shape: {df_clean.shape}")

Cleaned data shape: (8112, 4)

In [10]:
# Display the cleaned data
df_clean.head()

    hour  Temp(C)  Wind Speed(km/h)  pm25
1      9     34.6              12.0  62.9
4     12     29.1              11.0  47.9
7     15     27.3              15.0  33.6
12    21     25.8              11.0  45.5
15     0     26.1              12.0  42.1

In [11]:
print("Ready for modeling with columns:", df_clean.columns.tolist())

Ready for modeling with columns: ['hour', 'Temp(C)', 'Wind Speed(km/h)', 'pm25']

In [12]:
X = df_clean[["hour", "Temp(C)", "Wind Speed(km/h)"]]
y = df_clean["pm25"]
print(f"Features shape: {X.shape}, Target shape: {y.shape}")

Features shape: (8112, 3), Target shape: (8112,)

In [13]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.neural_network import MLPRegressor

X_train, X_val, y_train, y_val = train_test_split(
    X, y, test_size=0.2, shuffle=False
)

scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_val_scaled = scaler.transform(X_val)

nn_model = MLPRegressor(
    hidden_layer_sizes=(64, 32),
    activation='relu',
    solver='adam',
    max_iter=500,
    random_state=42
)

nn_model.fit(X_train_scaled, y_train)

print("Training complete")

Training complete

In [14]:
from sklearn.metrics import mean_absolute_error

pred = nn_model.predict(X_val_scaled)
mae = mean_absolute_error(y_val, pred)

print("MAE:", mae)

MAE: 9.987512677052159

In [15]:
import joblib

joblib.dump(nn_model, "nn_model.pkl")
joblib.dump(scaler, "scaler.pkl")

print("Model saved!")

Model saved!

In [16]:
df.to_csv("bangkok_cleaned.csv", index=False)